* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
    background-color: #000;
}

.scene {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
    background-image: url('1.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    transition: transform 0.2s ease;
    cursor: pointer;
}
.curtain {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.scene:hover {
    transform: translateX(-50%) translateY(-5%);
}

.scene.lifted {
    transform: translateX(-50%) translateY(-100%);
    transition: transform 1s ease;
}

.light {
    --size: 1000px;
    background-color: rgba(245, 255, 101, 0.0);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: calc(var(--size) * 1.2);
    height:  calc(var(--size) * 0.7);
    position: absolute;
    top: 140px;
    transform: translateX(-600px);
    left: 50%;
    pointer-events: none;
    transition: background-color 0.2s ease;
}

.light.on {
    background-color: rgba(245, 255, 101, 0.5);
}

.lamp {
    position: absolute;
    top: 120px;
    left: 50%;
    width: 90px;   
    height: auto;   
    object-fit: cover;
    transform: translateX(-50%);
    pointer-events: none;
}
.lamp-switch {
    position: absolute;
    top: 145px;
    left: 50%;
    width: 10px;   
    height: auto;   
    object-fit: cover;
    transform: translateY(-20px) translateX(-25px);
    transition: transform 0.1s ease;
}
.lamp-switch.on
{
    transform: translateY(0px) translateX(-25px);
}
.wizard
{
    position: absolute;
    top: 445px;
    left: 50%;
    width: 300px;   
    height: auto;   
    object-fit: cover;
    transform: translateX(-310px);
}
.hat
{
    position: absolute;
    top: 525px;
    left: 50%;
    width: 200px;   
    height: auto;   
    object-fit: cover;
    transform: translateX(110px) rotate(180deg);
}
.rabbit
{
    position: absolute;
    top: 525px;
    left: 50%;
    width: 75px;   
    height: auto;   
    object-fit: cover;
    transform: translateX(160px);
    transition: top 0.5s ease, opacity 0.2s ease;;
    visibility: visible;
}
.bird
{
    position: absolute;
    top: 525px;
    left: 50%;
    width: 65px;   
    height: auto;   
    object-fit: cover;
    transform: translateX(166px);
    transition: top 0.5s ease, opacity 0.2s ease;
    visibility: hidden;
}
.up
{
    top: 425px;
}

.rabbit, .bird, .wizard, .hat
{
    opacity: 0;
}
.wizard, .hat
{
    transition: opacity 0.2s ease;
}

.light-on
{
    opacity: 100;
}